<mat-toolbar color="primary">
  <h2>{{title}}</h2>

  <button mat-button routerLink="dashbord"> Dashbord </button>
  <button mat-button routerLink="registration"> Registration </button>

  <div class="float-right">
    <button *ngIf="!connected" (click)="togle()" mat-button routerLink="login"> Login </button>
    <button *ngIf="connected" (click)="togle()" mat-button routerLink="login"> Logout </button>
  </div>


</mat-toolbar>

<div style="border : 3px solid black">
  <router-outlet></router-outlet>

</div>
