<mat-toolbar class="header" color="primary">
  <span>
    <h2 class="title">{{title}}</h2>
  </span>

  <button mat-button routerLink="home" >Home</button>
  <button mat-button routerLink="dashbord" *ngIf="currentUser && currentUser.role === 'Admin' "> Dashbord </button>
  <button mat-button routerLink="registration"> Registration </button>
  <button mat-button routerLink="map"> Map </button>


  <span class="spacer"></span>
  <div class="float-right">
    <button mat-button *ngIf="currentUser"> Bonjour {{currentUser.username}} </button>
    <button *ngIf="!currentUser" (click)="login()" mat-button routerLink="login"> Login </button>
    <button *ngIf="currentUser" (click)="logout()" mat-button routerLink="login"> Logout </button>
  </div>


</mat-toolbar>

<div  style="border : 3px solid black;">
  <router-outlet></router-outlet>

</div>
