
<div class="container">
  <h1 class="centerH">SIG Web Project</h1>

  <div class="box">
    <app-map></app-map>
  </div>

  <div>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
    <p>sdfcgvhbjn,kl;tfghbj,klftghjnk,</p>
  </div>

</div>
